.body {
    width: 1514px;
}


.wrapper {
    width: 1120px;
    margin: 0 auto;

}

.header {
   
}

.header-top {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Calibri, sans-serif;
    
}

.header-top_logo {

}

.header-top_phone {
    padding-left: 156px;

}

.header-top_phone-number {
    color: black;
    font-size: 25px;
    font-weight: 600;

}

.header-top_phone-info {
    color: gray;
    font-size: 13px;
}

.header-top_secondary_logo {
    font-size: 12px;

}

.menu {
    height: 92px;
    display: flex;
    


}

.menu-list {
    align-items: center;
    display: flex;
    font-family: Calibri, sans-serif;


}

.menu-list-item {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    padding-right: 13px;
    letter-spacing: 0.5px;



}

.main {
    display: flex;

}

.main-list_services {
    width: 286px;
    padding-top: 16px;
}

/* .main-description_services {
    width: 834px;
background-color: rgb(233, 233, 233);
} */

.main-list_services-general {
    height: 63px;
    display: flex;
    align-items: center;
}

.main-list_services-general:hover{
    background-color:  rgb(233, 233, 233);
    color: #118811;
}

.main-list_services-general-img {
    /* padding: 24px 0; */
    padding-left: 27px;
    
    

}

.main-list_services-general-text {
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding-left: 22px;

}

.main-list_services-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    

}

.services-button {
    width: 242px;
    padding: 13px 0px;
    margin-top: 18px;
    /* margin-left: 1px; */
    background-color: white;
    border-color: #118811;

}

.services-button:hover {
    background-color: #118811 ;
}

.main-list_services-signature {
    /* padding: 13px 0px; */
    margin-top: 23px;;
    text-align: center;
    font-size: 17px;
}

.signature {
    text-decoration: none;
    color: rgb(126, 189, 126);
}

.main-list_services-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-list_services-statistics {
    padding-top: 40px;
}

.main-list_services-statistics-year {
    width: 237px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #118811;
    border-radius: 4px;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 15px;
    background: rgb(126, 189, 126);
    letter-spacing: -0.8px;
   
}

.main-list_services-statistics-month {
    width: 237px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #118811;
    border-radius: 4px;
    padding: 10px 0;
    margin: 10px 0;
    background: rgb(126, 189, 126);
    letter-spacing: -0.8px;

}

.main-list_services-statistics-img {

}

.main-list_services-statistics-text {

}

.main-description_services {
    width: 695px;
    margin: 0 auto;

}

.main-description_services-top {
    margin-top: 38px;
    font-family: calibri;
    font-size: 33px;
    font-weight: 600;
}

.main-description_services-download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 26px 8px 26px 0px;
    height: 48px;

}

.main-description_services-download-text {
    font-size: 17px;
    font-weight: 500;

}

.services-download-file {
    width: 258px;
    padding: 13px 0px;
    background-color: white;
    border-color: #118811;
   
}

.services-download-file:hover {
    background-color: #118811 ;
}