.body {
    width: 1514px;
}

.header {
    width: 1120px;
    margin: 0 auto;

}

.header-top {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Calibri, sans-serif;
    
}

.header-top_logo {

}

.header-top_phone {

}

.header-top_phone-number {
    color: black;
    font-size: 25px;
    font-weight: 600;

}

.header-top_phone-info {
    color: gray;
    font-size: 13px;
}

.header-top_secondary_logo {
    font-size: 12px;

}

.menu {
    height: 92px;
    display: flex;
    align-items: center;


}

.menu-list {
    display: flex;
    font-family: Calibri, sans-serif;

}

.menu-list-item {
    list-style-type: none;
    padding: 8.5px;
    font-size: 15.5px;
    font-weight: 600;

}

.main {
    width: 1120px;
    margin: 0 auto;
    display: flex;

}

.main-list_services {
    width: 286px;
background-color: khaki;
}

.main-description_services {
    width: 834px;
background-color: lightgreen;
}