* {
    margin: 0;
}


.header {
height: 169px;
}

.header-logo {
    max-width: 1600px;
    margin: 0 auto;
    height: 84px;
    display: flex;
    justify-content: space-around;
    font-family: Calibri, sans-serif;
    
}

.header-logo-left {
    flex-direction: column;
    padding: 10px;
    padding-left: 46px;

}

.header-logo-title-left {
    color: black;
    font-size: 22px;
    font-weight: 600;
    padding: 4px;
    padding-left: 48px;

}

.header-logo-subtitle-left {
    color: gray;
    font-size: 9px;
    width: 185px;

}

.header-logo-center{
    padding: 19px;
}

.header-logo-title-center {
    color: black;
    font-size: 25px;
    font-weight: 600;

}

.header-logo-subtitle-center {
    color: gray;
    font-size: 13px;
}

.header-logo-title-right {
    font-size: 12px;

}

.header-logo-subtitle-right {
    font-size: 10px;

}

.leftimg {
    float: left;
}

.rightimg {
    float: right;
}


.menu {
    height: 92px;
    display: flex;
    align-items: center;


}

.menu-list {
    display: flex;
    font-family: Calibri, sans-serif;
    padding-inline-start: 184px;

}

.menu-list-item {
    list-style-type: none;
    padding: 8.5px;
    font-size: 15.5px;
    font-weight: 600;

}