.body {
    width: 1514px;
}

.header {
    width: 1120px;
    margin: 0 auto;

}

.header-top {
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Calibri, sans-serif;
    
}

.header-top_logo {

}

.header-top_phone {
    padding-left: 156px;

}

.header-top_phone-number {
    color: black;
    font-size: 25px;
    font-weight: 600;

}

.header-top_phone-info {
    color: gray;
    font-size: 13px;
}

.header-top_secondary_logo {
    font-size: 12px;

}

.menu {
    height: 92px;
    display: flex;
    


}

.menu-list {
    width: 1120px;
    align-items: center;
    display: flex;
    font-family: Calibri, sans-serif;


}

.menu-list-item {
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    padding-right: 21px;
    /* padding: 0 8px; */


}

.main {
    width: 1120px;
    margin: 0 auto;
    display: flex;

}

.main-list_services {
    width: 286px;
background-color: khaki;
}

.main-description_services {
    width: 834px;
background-color: lightgreen;
}

.main-list_services-text {
    height: 64px;
}

.main-list_services-img {
    
}